body {
    position: relative;
    margin: 0 auto;
    max-width: 100%;
    background: #F0DAC2;
}
.login {
    position: absolute;
    width: 851px;
    height: 982px;
    top: 150px;
    left: 349px;
    background-color: #FFFFFF;
    border-radius: 20px 0px 0px 20px;
}
.login-form {
    text-align: left;
    margin-left: 75px;
    display: flex;
}
.login-form > h2 {
    position: absolute;
    width: 354px;
    height: 77px;
    left: 75px;
    top: 97px;
    font-family: 'Happy Monkey';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 77px;
    color: #000000
}
.login-form > h4 {
    position: absolute;
    width: 578px;
    height: 59px;
    left: 75px;
    top: 199px;
    font-family: 'Happy Monkey';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
}
label[for=fname] {
    position: absolute;
    width: 37px;
    height: 14px;
    left: 77px;
    top: 305px;
    font-family: 'Happy Monkey';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;  
    text-align: center;   
    color: #5FC3CA;
}
#fname {
    position: absolute;
    display: flex;
    width: 427px;
    height: 48px;
    left: 75px;
    top: 327px;
    font-family: 'Happy Monkey';
    background: #F4F4F4;
    border: none;
    border-bottom: 2px solid #5FC3CA;
    border-radius: 5px 5px 0px 0px;
}
#email {
    position: absolute;
    display: flex;
    width: 427px;
    height: 48px;
    left: 75px;
    top: 415px;
    font-family: 'Happy Monkey';
    background: #F4F4F4;
    border: none;
    border-bottom: 2px solid #C0C0C0;
    border-radius: 5px 5px 0px 0px;
}
textarea {
    position: absolute;
    width: 427px;
    height: 217px;
    left: 75px;
    top: 503px;
    font-family: 'Happy Monkey';
    background: #F4F4F4;
    border: none;
    border-bottom: 2px solid #C0C0C0;
    border-radius: 5px 5px 0px 0px;
    resize: none;
}
input[type=submit] {
    position: absolute;
    width: 231px;
    height: 48px;
    left: 310px;
    top: 829px;
    font-family: 'Happy Monkey';
    background: #5FC3CA;
    color: white;
    border-radius: 10px;
    border: none;
}
.right {
    position: absolute;
    width: 661px;
    height: 982px;
    left: 1200px;
    top: 150px;
    background: #5FC3CA;
    border-radius: 0px 20px 20px 0px;
}
.right > img {
    position: absolute;
    width: 475px;
    height: 475px;
    left: 93px;
    top: 369px;
}